.header {
    background: linear-gradient(0.25turn, #0668e7, #1e1053);
}

.header h1 {
    font-size: 38px;
    color:white;
}

.searchbar-header {
    font-size: 24px;
    font-weight: bold;
}

.city {
    font-size: 30px;
}

.forecast {
    font-size: 18px;
}

.form-control {
    color: white;
}

ul {
    list-style: none;
}

.full-height {
    height: 100%;
}

.invisible {
    display:none;
}